/* Variables */
:root {
  --font-family: 'Open Sans', sans-serif;
  --background-color: #000000;
  --line-height: 1.6;
  --header-background: #003049;
  --header-color: #EAE6E5;
  --text-color: #E6E8E6; /* Added default text color */
  --table-header-bg:#2F2F2F;
  --block-green: #2ecc71;
  --block-yellow: #f1c40f;
  --block-red: #e74c3c;
  --tooltip-bg: #003049;
  --tooltip-color: #EAE6E5;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  --link-hover-color: #90E0EF; /* Added variable for link hover color */
  --section-bg: #2F2F2F; /* Added variable for section background */
  --section-text-color: #CED0CE; /* Added variable for section text color */
  --section-subtext-color: #CED0CE; /* Added variable for section subtext color */
  --border-color: #CED0CE; /* Added variable for border color */
}

/* Global Styles */
body, html {
  font-family: var(--font-family);
  line-height: var(--line-height);
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header Styles */
header {
  position: sticky;
  z-index: 999;
  top: 0;
  height: fit-content;
  background: var(--header-background);
  color: var(--header-color);
  padding: 0.25em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

header.logo {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

header.zulu-time {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
  flex: 1;
}

/* Navigation Styles */
.nav ul {
  list-style: none;
  margin: 0;
  padding: 1em;
  display: flex;
  color: var(--header-color);
  justify-content: space-evenly;
  width: 100%;
  position: relative;
}

.nav ul li {
  flex: 1;
  text-align: center;
  position: relative;
}

.nav ul li a {
  text-decoration: none;
  color: var(--header-color);
  display: block;
  padding: 1em;
}

.nav ul li ul.subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--tooltip-bg);
  padding: 1em;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  z-index: 2;
}

.nav ul li:hover ul.subnav {
  display: block;
}

.nav ul li ul.subnav li {
  padding: 0.5em;
  border-bottom: 1px solid var(--border-color);
}

.nav ul li ul.subnav li a {
  color: var(--tooltip-color);
  text-decoration: none;
}

.nav ul li ul.subnav li a:hover {
  color: var(--link-hover-color);
}

/* Container Styles */
.container {
  max-width: 90%;
  margin: 0 auto;
  padding: 2em;
}

main.container h2 {
  color: var(--section-text-color);
  background: var(--section-bg);
  margin-top: 0;
}

main.container p {
  font-size: 1.1em;
  color: var(--section-subtext-color);
}

/* Data Section Styles */
.data-section {
  background: var(--section-bg);
  padding: 1em;
  margin: 1em 0;
  box-shadow: var(--box-shadow);
  width: 100%;
}

.data-section h2 {
  margin-top: 0;
}

/* Table Styles */
.metar-table, .pirep-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid var(--border-color);
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: var(--table-header-bg);
}

/* Responsive Table Styles */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  table {
      width: 100%;
  }
  table thead {
      display: none;
  }
  table td {
      display: block;
      text-align: right;
      padding-left: 50%;
  }
  table td:before {
      content: attr(data-label);
      float: left;
      width: 50%;
      padding-right: 10px;
      font-weight: bold;
      text-align: left;
  }
}

/* Split Container Styles */
.split {
  height: 100%;
  width: 50%;
  position: relative;
  float: left;
  padding-top: 20px;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

/* Block Container Styles */
.block-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  width: 150px;
  height: 100px;
  margin: 12px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 8px;
  box-sizing: border-box;
  color: black;
  font-weight: bolder;
  font-size: 54px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  position: relative;
}

.block.green {
  background-color: var(--block-green);
}

.block.yellow {
  background-color: var(--block-yellow);
}

.block.red {
  background-color: var(--block-red);
}

.block:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--tooltip-bg);
  color: var(--tooltip-color);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

/* Grid Styles */
.table-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@supports (display: grid) {
  .table-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
}

@media (min-width: 768px) {
  .table-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .north {
      grid-column: 1;
      grid-row: 1 / 5;
      height: fit-content;
  }
  .south, .atop {
      grid-column: 2;
  }

  .south {
      grid-row: 1 / 1;
      height: fit-content;
  }
  .atop {
    grid-row: 2;
    height: fit-content;
}
}

/* Table Wrapper Styles */
.table-wrapper {
  background: var(--section-bg);
  padding: 1em;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
