.metar-table,.pirep-table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.5em;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* Responsive tables */
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    table {
        width: 100%;
    }
    table thead {
        display: none;
    }
    table td {
        display: block;
        text-align: right;
        padding-left: 50%;
    }
    table td:before {
        content: attr(data-label);
        float: left;
        width: 50%;
        padding-right: 10px;
        font-weight: bold;
        text-align: left;
    }
}