/*header.css*/
header {
    position: sticky;
    top: 0;
    height: auto;
    background: var(--header-background);
    color: var(--header-color);
    padding: 0.5em; /* Reduced padding to make the header smaller */
    display: flex; /* Enable flexbox for alignment */
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
}

header.logo {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0; /* Remove default margin */
}

header.zulu-time {
    font-size: 1.2em;
    margin: 0; /* Remove default margin */
    text-align: center;
    flex: 1; /* Take up available space to center the text */
}